@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(206, 194, 174, 0.24);
  padding: 4rem;
  font-size: 16px;
  max-width: 78ch;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  border-left: double 5px rgba(0, 0, 0, 0.16);
  min-height: 100vh;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

img.compass {
  /* When the image has a set height and width or has a defined aspect ratio, the browser can save room for the image while it’s being loaded, therefore reducing the layout shift. Accordingly, it’s good practice to define aspect ratios and/or height and width for our images. */
  aspect-ratio: 1;
  float: right;
  border-radius: 50%;
  shape-outside: margin-box;
  margin-left: 1rem;
}

img.dog {
  aspect-ratio: 126 / 161;
  float: left;
  shape-outside: url("https://raw.githubusercontent.com/michaelgearon/Tiny-CSS-Projects/main/chapter-07/before/img/dog.svg");
  shape-margin: 1em;
  margin-right: 1em;
}

p {
  line-height: 1.5;
  text-align: justify;
}

p:first-of-type::first-letter {
  font-size: 6em;
  float: left;
  line-height: 0.5;
  font-family: "Passions Conflict", cursive;
}

blockquote {
  font-family: "Passions Conflict";
  font-size: 2em;
  line-height: 1;
}
